doctype html
html
  head
    include ../imports
    title Oriel College Commemoration Ball 2015 - Tickets
    meta(name='robots',content='noindex nofollow')
  body
    include ../header
    .container-fluid
      .row
        .col-xs-12.col-sm-8.col-sm-offset-2.col-md-6.col-md-offset-3.col-lg-4.col-lg-offset-4.text-center(style='margin-top:10%')
          if type == 'payment'
            span.fa-stack.fa-5x.fa-lg
              i.fa.fa-credit-card.fa-stack-2x
            h1 Payment error
            if (stripe.message.indexOf("You cannot use a Stripe token more than once") > -1) 
              .alert.alert-warning(role='alert') You have resubmitted the booking form, probably because you reloaded the confirmation page. This means that your ticket booking was attempted again, including charging your card. This second purchased did not succeed, however, this error has nothing to do with a previous purchase. Your previous purchase succeeded if you saw the confirmation page or received a confirmation email.
            else if (stripe.type == 'StripeCardError')
              .alert.alert-danger(role='alert') Our payment provider replied with a card error:<br>!{stripe.message}
              p Your card was not charged and your ticket purchase did not succeed.
            else
              .alert.alert-danger(role='alert') An error occurred communicating with our payment provider.
              p Your card was not charged and your ticket purchase did not succeed.
          else if type == 'connection'
            span.fa-stack.fa-lg.fa-5x
              i.fa.fa-cloud.fa-stack-2x
              i.fa.fa-gears.fa-flip-horizontal.fa-stack-1x.fa-inverse
            h1 Server error
            .alert.alert-danger(role='alert') The ticket page cannot be displayed because no connection to the ticket server can be established. Please try again in a little while.
          else if type == 'databaseCount'
            span.fa-stack.fa-5x.fa-lg
              i.fa.fa-database.fa-stack-2x
            h1 Database Error
            .alert.alert-danger(role='alert')
              Our server encountered an error connecting to the database. Your purchase did not succeed and your card was not charged. 
          else if type == 'duplicate'
            span.fa-stack.fa-5x.fa-lg
              i.fa.fa-files-o.fa-stack-2x
            h1 Repeated purchase
            .alert.alert-danger(role='alert').
              You already bought !{number} ticket!{(number>1)?'s':''} using this email address. If you'd like to add more guest tickets, go <a class='alert-link' href='/addGuests'>here</a>.<br>Your card was not charged.   
          else
            span.fa-stack.fa-5x.fa-lg
              i.fa.fa-database.fa-stack-2x
            h1 Database Error
            .alert.alert-warning(role='alert').
              Your ticket purchase succeded, but there was an error entering your details into our database. We are aware of this error and will be in contact with you after we have fixed this. To be on the safe side, please keep a screenshot of this page for your records. We apologise for the inconvenience.
            .well=charge
            .well=error
