doctype html
html
  head
    include ../imports
    title Oriel College Commemoration Ball 2015 – Tickets
    meta(name='description', content="Excited for the Oriel College Commemoration Ball 2015? Get your tickets here. The Gardens of Babylon are wating for you...")
    
    //- Stripe for payment
    script(type='text/javascript', src='https://checkout.stripe.com/checkout.js')

    script(type='text/javascript').
      var remaining = {
        'Dining': !{ticketsLeft[0]},
        'Non-dining': !{ticketsLeft[1]}
      }
      var PRICES = !{JSON.stringify(prices)}
      var STRIPE = !{JSON.stringify(stripe)}
      var ORIEL_ONLY = !{JSON.stringify(orielOnly)}
      var MAX_TICKET_NUMBER = ORIEL_ONLY ? 2 : 10
      var COLLEGES = !{JSON.stringify(colleges)}
      
    script(type='text/javascript', src='/javascripts/form.js')
    style.
      html{
        min-height: 100%
      }
  body.gradientBackground
    //- Navbar
    nav.navbar.navbar-default.navbar-fixed-top.navbar-inverse(role="navigation")
      .container-fluid
          ul.nav.navbar-nav.navbar-left.hidden-xs 
            li
              a(href='/')
                i.fa.fa-angle-left &nbsp; 
                | Back
          ul.nav.navbar-nav.navbar-right.hidden-xs 
            li
              a Tickets left:
                i.fa.fa-glass(style='margin-left:10px') &nbsp;
                span#nonDiningLeft ?
                i.fa.fa-cutlery(style='margin-left:10px') &nbsp;
                span#diningLeft ?
    a(href='/')
      img#logo(src='/icons/logoSmall.png',alt='Logo',style="position:fixed;top:0px;left:50%;margin-left:-40px;width:80px;height:80px;z-index:1031")
    
    //- Content
    .container-fluid
      .row(style='padding-top:7%;padding-bottom:30px')
        .col-xs-12.col-sm-6.col-sm-offset-3.col-lg-4.col-lg-offset-4
          form.form#payment-form(role='form',method='POST',autocomplete='on',action='/tickets')
            #name.form-group
              h5 Your info
              .input-group
                span.input-group-addon
                  i.fa.fa-user.fa-fw
                input.form-control(name='name',type='text',placeholder='Name (as on bodcard)')
            #email.form-group
              .input-group
                span.input-group-addon
                  i.fa.fa-at.fa-fw
                input.form-control(name='email',type='email',placeholder='College email address')
            #college.form-group
              .input-group
                span.input-group-addon
                  i.fa.fa-university.fa-fw
                input.form-control(name='college',type='text',placeholder='College',disabled)
            #bodcard.form-group
              .input-group
                span.input-group-addon
                  i.fa.fa-credit-card.fa-fw
                input.form-control(name='bodcard',type='text',placeholder='Bodcard number', pattern='[0-9]*')
                span.input-group-btn
                  a.btn.btn-default#bodcardHelp
                    i.fa.fa-question 
            #guests
              h5 Your guests
              #guestList
              .text-center
                button.btn.btn-default#addGuest
                  i.fa.fa-plus
                  | &nbsp;
                  i.fa.fa-user
            #type.form-group
              h5 Your tickets
              .btn-group.btn-block.text-center(data-toggle="buttons")
                label#nonDiningToggle.btn.btn-default(style="width:50%")
                  input(type="radio", name="type", value='Non-dining')
                  b Non-dining
                  br
                  small £!{prices['Non-dining'][orielOnly]}
                label#diningToggle.btn.btn-default(style="width:50%")
                  input(type="radio", name="type", value="Dining")
                  b Dining 
                  br
                  small £!{prices['Dining'][orielOnly]}
          .row
            .col-xs-8.col-xs-offset-2.text-center
              #terms.checkbox
                label.control-label(style='margin-top:40px;')
                  input(type="checkbox" value="") 
                  |I&nbsp;accept&nbsp;the&nbsp;
                a(href='/Terms%20&%20Conditions.pdf', target='_blank') Terms&nbsp;&amp;&nbsp;Conditions
              button.disabled#pay.btn.btn-gold.btn-lg(style='width:100%;min-width:200px',data-loading-text='Loading...') Proceed to payment