doctype html
html
  head
    include ../imports
    title Oriel College Commemoration Ball 2015 – Tickets
    meta(name='description', content="Excited for the Oriel College Commemoration Ball 2015? Get your tickets here. The Gardens of Babylon are wating for you...")
    
    //- Selectize.js for college selector
    link(rel='stylesheet', href='/stylesheets/bootstrap-select.min.css')
    script(type='text/javascript', src='/javascripts/bootstrap-select.min.js')
    
    //- Stripe for payment
    script(type='text/javascript', src='https://checkout.stripe.com/checkout.js')

    script(type='text/javascript').
      var remaining = {
        'Dining': !{ticketsLeft[0]},
        'Non-dining': !{ticketsLeft[1]}
      }
      var MAX_GUEST_NUMBER = 10
      var PRICES = !{JSON.stringify(prices)}
      var STRIPE = !{JSON.stringify(stripe)}
      var ORIEL_ONLY = !{JSON.stringify(orielOnly)}
      var COLLEGES = !{JSON.stringify(colleges)}
    script(type='text/javascript', src='/javascripts/form.js')
    style.
      html{
        min-height: 100%
      }
      body{
        padding: 0px;
        background: #eeeeee;
        background: -moz-linear-gradient(top,  #eeeeee 0%, #dddddd 100%);
        background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#eeeeee), color-stop(100%,#dddddd));
        background: -webkit-linear-gradient(top,  #eeeeee 0%,#dddddd 100%);
        background: -o-linear-gradient(top,  #eeeeee 0%,#dddddd 100%);
        background: -ms-linear-gradient(top,  #eeeeee 0%,#dddddd 100%);
        background: linear-gradient(to bottom,  #eeeeee 0%,#dddddd 100%);
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eeeeee', endColorstr='#dddddd',GradientType=0 );
      }
  body
    
    //- Navbar
    nav.navbar.navbar-default.navbar-fixed-top.navbar-inverse(role="navigation")
      .container-fluid
          ul.nav.navbar-nav.navbar-left.hidden-xs 
            li
              a(href='/')
                i.fa.fa-angle-left &nbsp; 
                | Back
          ul.nav.navbar-nav.navbar-right.hidden-xs 
            li
              a Tickets left:
                i.fa.fa-glass(style='margin-left:10px') &nbsp;
                span#nonDiningLeft ?
                i.fa.fa-cutlery(style='margin-left:10px') &nbsp;
                span#diningLeft ?
    a(href='/')
      img#logo(src='/icons/logo.svg',alt='Logo',style="position:fixed;top:0px;left:50%;margin-left:-40px;width:80px;height:80px;z-index:1031")
    
    //- Content
    .container-fluid
      .row(style='margin-top:10%;margin-bottom:7%')
        .col-xs-12.col-sm-6.col-sm-offset-3.col-lg-4.col-lg-offset-4
          form.form#payment-form(role='form',method='POST',autocomplete='on',action='/tickets')
            #name.form-group
              h5 Your info
              .input-group
                span.input-group-addon
                  i.fa.fa-user.fa-fw
                input.form-control(name='name',type='text',placeholder='Name')
            #email.form-group
              .input-group
                span.input-group-addon
                  i.fa.fa-at.fa-fw
                input.form-control(name='email',type='email',placeholder='College email address')
            #college.form-group
              .input-group
                span.input-group-addon
                  i.fa.fa-university.fa-fw
                input.form-control(name='college',type='text',placeholder='College',disabled)
            #bodcard.form-group
              .input-group
                span.input-group-addon
                  i.fa.fa-credit-card.fa-fw
                input.form-control(name='bodcard',type='text',placeholder='Bodcard number', pattern='[0-9]*')
                span.input-group-btn
                  a.btn.btn-default#bodcardHelp
                    i.fa.fa-question 
              p.help-block 
            #guests
              h5 Your guests
              #guestList
              .text-center
                button.btn.btn-default#addGuest
                  i.fa.fa-plus
                  | &nbsp;
                  i.fa.fa-user
            #type.form-group
              h5 Your tickets
              .btn-group.btn-block.text-center(data-toggle="buttons")
                label#nonDiningToggle.btn.btn-default(style="width:50%")
                  input(type="radio", name="type", value='Non-dining')
                  b Non-dining
                  br
                  small £!{prices['Non-dining']}
                label#diningToggle.btn.btn-default(style="width:50%")
                  input(type="radio", name="type", value="Dining")
                  b Dining 
                  br
                  small £!{prices['Dining']}
          .text-center
            button#pay.btn.btn-gold.btn-lg(style='margin:50px;width=200px',data-loading-text='Loading...') Proceed to payment