doctype html
html
  head
    include ../imports
    title Oriel College Commemoration Ball 2015 – Tickets
    meta(name='description', content="Excited for the Oriel College Commemoration Ball 2015? Get your tickets here. The Gardens of Babylon are wating for you...")
    
    //- Selectize.js for college selector
    link(rel='stylesheet', href='/stylesheets/selectize.bootstrap3.css')
    script(type='text/javascript', src='/javascripts/selectize.js')
    
    //- Stripe for payment
    script(type='text/javascript', src='https://checkout.stripe.com/checkout.js')

    script(type='text/javascript').
      var prices = !{JSON.stringify(prices)}
      var stripe = !{JSON.stringify(stripe)}
    script(type='text/javascript', src='/javascripts/form.js')

  body
    
    //- Navbar
    nav.navbar.navbar-default.navbar-fixed-top.navbar-inverse(role="navigation")
      .container-fluid
          ul.nav.navbar-nav.navbar-left.hidden-xs 
            li
              a(href='/')
                i.fa.fa-angle-left &nbsp; Back
          ul.nav.navbar-nav.navbar-right.hidden-xs 
            li
              a Tickets left:
                i.fa.fa-glass#nonDiningLeft(style='margin:0px 20px 0px 20px') &nbsp;?
                i.fa.fa-cutlery#diningLeft &nbsp;?
    a(href='/')
      img#logo(src='/images/logo.svg',alt='Logo',style="position:fixed;top:0px;left:50%;margin-left:-40px;width:80px;height:80px;z-index:1031")
    
    //- Content
    .container-fluid
      .row(style='margin-top:10%')
        .col-xs-12.col-sm-6.col-sm-offset-3.col-lg-4.col-lg-offset-4
          form.form#payment-form(role='form',method='POST',autocomplete='on',action='/tickets')
            #name.form-group
              .input-group
                span.input-group-addon
                  i.fa.fa-user.fa-fw
                input.form-control(name='name',type='text',placeholder='Name')
            #email.form-group
              .input-group
                span.input-group-addon
                  i.fa.fa-at.fa-fw
                input.form-control(name='email',type='email',placeholder='University email address')
            #bodcard.form-group
              .input-group
                span.input-group-addon
                  i.fa.fa-credit-card.fa-fw
                input.form-control(name='bodcard',type='text',placeholder='Bodcard number', pattern='[0-9]*')
                span.input-group-addon#bodcardHelp(title='This is the seven-digit number above the barcode') ? 
              p.help-block 
            #college.form-group
              .input-group
                span.input-group-addon
                  i.fa.fa-university.fa-fw
                select(name='college',placeholder='College')
                  option
                  each college in ["All Souls","Balliol","Blackfriars","Brasenose","Campion Hall","Christ Church","Corpus Christi","Exeter","Green Templeton","Harris Manchester","Hertford","Jesus","Keble","Kellogg","Lady Margaret Hall","Linacre","Lincoln","Magdalen","Mansfield","Merton","New","Nuffield","Oriel","Pembroke","Queen's","Regent's Park","Somerville","St Anne's","St Anthony's","St Benet's Hall","St Catherine's","St Cross","St Edmund Hall","St Hilda's","St Hugh's","St John's","St Peter's","St Stephen's House","Trinity","University","Wadham","Wolfson","Worcester","Wycliffe Hall"]
                    option(value=college) !{college}
            #type.form-group.text-center
              .btn-group.btn-block(data-toggle="buttons")
                label#nonDiningToggle.btn.btn-default(style="width:50%")
                  input(type="radio", name="type", value='Non-dining')
                  b Non-dining
                  br
                  small £!{prices['Non-dining']}
                label#diningToggle.btn.btn-default(style="width:50%")
                  input(type="radio", name="type", value="Dining")
                  b Dining 
                  br
                  small £!{prices['Dining']}
          .text-center
            button#pay.btn.btn-gold.btn-lg(style='margin-top:30px;width=200px') Proceed to payment