doctype html
html
  head
    include imports
    title Oriel College Commemoration Ball 2015
    meta(name='description',content='Some speculate that the Hanging Gardens of Babylon existed only in myth; a fantastic creation of the poet or fabulist. On the 26th June, however, we offer them as yours to explore...')

    link(rel='stylesheet', type='text/css' href='https://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic')
    style.
      .container-fluid .row {
        padding-bottom: 20px;
        padding-top: 20px;
      }
      .container-fluid .row .row {
        padding: 0px;
      }
      #sponsoring img {
        width:80%;
        margin: 0px 0px 10px 0px;
      }
      #footer small {
        color: #ccc;
      }
      #footer a {
        color: #ccc;
      }
      .modal a {
        color: none;
      }
      #pushBtn.disabled {
        color: gray;
      }
    <!--[if lt IE 9]>
    <script src="//oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="//oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    script(src='//f.vimeocdn.com/js/froogaloop2.min.js')
    script(src='/javascripts/index.js')
  body(style='font-family:Droid Serif; background:#333')
    nav.navbar.navbar-fixed-top.navbar-inverse(role="navigation")
      .container-fluid
        .navbar-header
          button.navbar-toggle.collapsed(type="button", data-toggle="collapse", data-target=".navbar-collapse")
            span.sr-only Toggle navigation
            span.icon-bar
            span.icon-bar
            span.icon-bar
        .collapse.navbar-collapse
          ul.nav.navbar-nav
            li.hidden-xs(style='width:23px;') &nbsp;
            li
              a(href="#entertainment") Entertainment
            li
              a(href="#fooddrink") Food &amp; Drink
            li.hidden-xs#navbarGap(style='width:80px') &nbsp;
            li
              a(href="#sponsoring") Sponsorship
            li
              a(href="#tickets") Tickets
            li 
              a(href="#news") Contact
    img#logo(src="/icons/logo.svg", onerror='this.src="/icons/logo.png"',alt='Logo',style='-webkit-filter: drop-shadow(0px 0 10px rgba(0,0,0,0.5))')
    .container-fluid
      #top.row(style='background: url("/images/bg.jpg"); color:white; position:relative; height:800px')
        .col-md-6.col-md-offset-3.col-sm-10.col-sm-offset-1.col-xs-12.text-center(style='position:absolute; bottom:5%')
          h1(style="font-variant:small-caps;font-size:3.5em;") Gardens of Babylon
          h4 The  Oriel College Commemoration Ball 2015
          h5.visible-xs 26 June 2015
          p.hidden-xs.
            Of all the Seven Wonders of the Ancient World, it is the Hanging Gardens of Babylon which linger longest in the imagination - the only Wonder whose location remains, to this day, unknown. Some speculate that it existed only in myth; a fantastic creation of the poet or fabulist. On the 26th June, however, we offer it as yours to explore...
          #enterBtn.btn.btn-gold.btn-lg(style='width:150px; margin:20px;') Enter
      if trailer
        #trailer.row(style='background:black; padding:0px; height:600px;')
          .col-xs-12.text-center(style='width:100%; height:100%; padding:0px')
            iframe#vimeo(src="//player.vimeo.com/video/"+trailer+"?title=0&amp;byline=0&amp;portrait=0&amp;color=e5ca6f&amp;api=1&amp;player_id=vimeo", width="100%", height="100%", frameborder="0", webkitallowfullscreen, mozallowfullscreen, allowfullscreen)
      #entertainment.row.gradientBackground
        .col-xs-12.col-sm-10.col-sm-offset-1
          .row
            .col-xs-12
              h1 Entertainment
          .row(style='margin-bottom:25px;')
            .col-lg-8.col-md-7.col-sm-12.col-xs-12
              p.
                As you enter into our Gardens of Babylon, we invite you to prepare for a veritable cornucopia of sensory enchantments. The grounds boast creations to rival those for which the wondrous gardens were first renowned: let dream and reality coalesce as our mythological cast weave in and out, immersing you in such fleeting fantasies as befit a starry, midsummer night...
              p.
                Adorn yourself with verdant trappings to match even the lucent Diana and then allow yourself, upon delving into the shadowy groves, to be captured in the twinkling half-light by our roaming photographers. Throughout the adventure, revel in air ignited by the beat and flashing colours of salsa - or fly madly along to the pipes and drums of Ireland!
              p.
                And, with two stages and a tremendous variety of sparkling performers, our line-up promises to get everybody moving. Early in the evening, an elegant classical ensemble will provide the dreamy backdrop for ballroom dances. And, as the night progresses, both stages will come alive with acts ranging from vibrant jazz to buoyant a cappella - from reverberating house to fresh, intense electronic music.
            .col-lg-4.col-md-5.col-md-offset-0.col-sm-8.col-sm-offset-2.col-xs-12
              img.img-thumbnail.img-responsive(src='/images/entertainment1.jpg',alt='Entertainment')
          .row(style='margin-bottom:25px;')
            .col-lg-4.col-md-5.hidden-sm.hidden-xs
              img.img-thumbnail.img-responsive(src='/images/entertainment2.jpg',alt='Entertainment')
            .col-lg-8.col-md-7.col-sm-12.col-xs-12
              p.
                When the sun starts to rise and twilight turns to morning, you’ll be reinvigorated by the unfolding of a silent disco - with two beautiful DJs keeping you dancing through dawn. And, were that not enough, after 3am our second stage will become a hub of graceful acoustic artists, and a whole plethora of comedians...allowing you to sit back and relax amongst the creeping tendrils of the Gardens - all without having to move a muscle. 
              p.
                Whatever your taste, and whatever your pleasure, we’ll have you enraptured and enthralled. Simply immerse yourself in our Eastern paradise; complete with fortune-tellers, shisha, magic, music and mysteries galore. On the 26th June, Oriel births an assemblage of spectacles sublime – sure to result in a night of a thousand-and-one quite singular memories.
            .hidden-lg.hidden-md.col-sm-8.col-sm-offset-2.col-xs-12
              img.img-thumbnail.img-responsive(src='/images/entertainment2.jpg',alt='Entertainment')
      #fooddrink.row.gradientBackground
        .col-xs-12.col-sm-10.col-sm-offset-1
          .row
            .col-xs-12
              h1 Food &amp; Drink
          .row(style='margin-bottom:25px;')
            .col-lg-8.col-md-7.col-sm-12.col-xs-12
              p.
                Once more, Oriel brings you the commemoration ball of the year - and all the drinks to befit it. Commence your night with the finest champagne and the fruitiest Pimms in our beautiful First Quad, along with some delectable canap&eacute;s&hellip; before indulging in the most delicious cocktails all night from our many bars, serving classical favourites alongside a rather special Oriel Ball concoction.
              p.
                If cocktails are not what you&rsquo;re after then never fear: naturally, we are supplying an abundance of exotic teas, creamy milkshakes, and refreshing juices to keep you hydrated throughout the night.
              p.
                For those who want to try a bit of everything - and why not? - we&rsquo;ll have wine and beer bars to quench even the most Sisyphean thirsts, providing exceptional quality (in exceptional quantity) as you meander through our Gardens of Babylon. You will also be able to try some of the finest whiskies available, as you lose yourself betwixt serene surrounds.
              p.
                As the night slides into daybreak and you find yourself lusting for a quick pick-me-up, grab some piping-hot coffee and tuck into breakfast.
              p.
                Expect only the most delicious drinks, from the familiar to the foreign. And, for the discerning, there might even be some surprises&hellip;          
            .col-lg-4.col-md-5.col-md-offset-0.col-sm-8.col-sm-offset-2.col-xs-12
              img.img-thumbnail.img-responsive(src='/images/drinks.jpg',alt='Entertainment')
          .row(style='margin-bottom:25px;')
            .col-lg-4.col-md-5.hidden-sm.hidden-xs
              img.img-thumbnail.img-responsive(src='/images/food.jpg',alt='Entertainment')
            .col-lg-8.col-md-7.col-sm-12.col-xs-12
              p.
                Work your way through the Gardens&rsquo; distinct courts and taste everything that the majestic palace has to offer.  From fine wines and delicate canap&eacute;s to extravagant main courses and dainty desserts, treat yourself to the most exquisite feast that the Wonders of the World have to offer. A wealth of flavours is on offer, with a vast array of all foods from across the world. With something guaranteed for everyone, you&rsquo;ll have to be on the lookout for all of our surprises. Familiar favourites will be interspersed with some truly exotic treats, as we aim to satisfy your every culinary need. Come morning, all guests, both dining and non-dining, will then be treated to the survivors&rsquo; breakfast to keep the party going all night long.
              p.
                A full menu will soon be released to really whet your appetite.
            .hidden-lg.hidden-md.col-sm-8.col-sm-offset-2.col-xs-12
              img.img-thumbnail.img-responsive(src='/images/food.jpg',alt='Entertainment')
      #sponsoring.row.gradientBackground
        .col-xs-12.col-sm-10.col-sm-offset-1
          .row
            .col-xs-12
              h1 Sponsorship
          .row
            .col-sm-12
              p.
                The Oriel College Commemoration Ball 2015 is looking for sponsorship partners to contribute to the cost of running the Ball and ensure the evening is a success. It is set to be the Oxford University event of the year as it is the only white tie Ball taking place in summer 2015. Oriel is offering sponsors a rare opportunity for exposure to an exclusive audience; not only to the 1100 guests attending the Ball but to Oxford University’s extended student population of 30,000 and, significantly, to countless alumni. 
              p.
                Your brand will benefit from the dedication of our marketing and design teams whose publicity campaign will ensure anticipation for the Ball heightens over the course of the academic year. This will reach its crescendo on the night of the Ball itself when there will be even more fantastic opportunities to give your brand targeted exposure to this unique audience.
              p.
                If you would like to discuss this exceptional opportunity, please contact <a href='mailto:sponsoring@orielball.uk' style='color: #333'>sponsoring@orielball.uk</a>.
          .row
            .col-xs-12.text-center
              h3 Our sponsors
          .row.text-center
            .col-md-3.col-sm-4.col-xs-6.col-centered
              a(href='http://elastichosts.co.uk',target='_blank')            
                img.img-thumbnail(src='/images/sponsors/elastichosts.png',alt='Elastichosts')
              br
              small Elastichosts are generously hosting our website on their new Elastic Containers
      #tickets.row.gradientBackground
        .col-xs-12.col-md-6.col-md-offset-3.col-sm-8.col-sm-offset-2.text-center
          h1 Tickets
          .row
            .col-xs-12.col-sm-6
              br
              i.fa.fa-cutlery.fa-2x(style='margin-bottom:-10px;')
              h3 Dining&nbsp;Ticket <br>
                if prices
                  small &pound;!{prices['Dining'][false]} (&pound;!{prices['Dining'][true]} Oriel)
                else
                  small &pound;TBD 
              p.
                For those of you wishing to experience the full luxury of the Gardens with a lavish banquet set in the grand hall of our most splendid court.
              br
            .col-xs-12.col-sm-6
              br
              i.fa.fa-glass.fa-2x(style='margin-bottom:-10px;')
              h3 Non&#8209;dining&nbsp;Ticket <br>
                if prices
                  small &pound;!{prices['Non-dining'][false]} (&pound;!{prices['Non-dining'][true]} Oriel)
                else
                  small &pound;TBD
              p.
                For those who want to enjoy a mouth-watering tour de force with a huge variety of choice on offer, without the formality of a sit down meal. 
              br
<<<<<<< HEAD
          .row
            .col-xs-12.col-md-10.col-md-offset-1
              h3 Questions?
              - var faq = [["Who can buy tickets?","You need to be a member of Oxford University (i.e. have a .ox.ac.uk email address) to buy tickets. If you're not a member of the university, you will need to ask a friend to add you as his or her guest."],["How can I pay?","You can pay by credit or debit card at no extra charge. We accept all common types of cards, including Visa, MasterCard, and American Express."],["What do I need to buy a ticket?","You will need your credit or debit card and your bodcard during booking. If you're bringing guests, you can enter their email addresses as well (so they stay in the loop), but you don't have to."],["How many tickets can I buy?","During the Oriel exclusive period, you'll be able to buy two tickets, after that you'll be able to get ten at once."],["How do I get my ticket early?","If you're an Oriel student, you can get your ticket two weeks early. To access the booking system, you need to be connected to the Oriel network via either Oriel-Members, ethernet, or a library computer."]]
    
                .panel-group#faq
                  each elem,index in faq
=======
            h3 Questions?
            - var faqs = [["Who can buy tickets?","You need to be a member of Oxford University (i.e. have a .ox.ac.uk email address) to buy tickets. If you're not a member of the university, you will need to ask a friend to add you as his or her guest."],["How can I pay?","You can pay by credit or debit card. We accept all common types of cards, including Visa, MasterCard and American Express at no charge."],["What do I need to buy a ticket?","You will need your credit or debit card and your bodcard during booking. If you're bringing guests, you can enter their email addresses as well (so they stay in the loop), but you don't have to."],["How many tickets can I buy?","During the Oriel exclusive period, you'll be able to buy two tickets, after that you'll be able to get ten at once."],["How do I get my ticket early?","If you're an Oriel student, you can get your ticket two weeks early. To access the booking system, you need to be connected to the Oriel network via either Oriel-Members, ethernet, or a library computer."]]
  
            .row
              .col-xs-12.col-sm-6
                .panel-group
                  - for (var i = 0; i < Math.ceil(faqs.length/2);i++)
                    .panel.panel-default
                      .panel-heading
                        h4.panel-title
                          a(data-toggle="collapse", data-parent=".panel-group", href="#collapse"+i) !{faqs[i][0]}
                      .panel-collapse.collapse(id="collapse"+i)
                        .panel-body.text-left !{faqs[i][1]}        
              .col-xs-12.col-sm-6
                .panel-group
                  - for (var i = Math.ceil(faqs.length/2); i < faqs.length;i++)
>>>>>>> 3b1009612d2780e13f000400c9146f666ca51d80
                    .panel.panel-default
                      .panel-heading
                        h4.panel-title
                          a(data-toggle="collapse", data-parent=".panel-group", href="#collapse"+i) !{faqs[i][0]}
                      .panel-collapse.collapse(id="collapse"+i)
                        .panel-body.text-left !{faqs[i][1]}        
          br
          br
          if bookingDates
            a#ticketBtn.btn.btn-lg.btn-gold(href='/tickets',style='margin-bottom:-20px') Booking system
            h3 
              if bookingDates.oriel
                small Oriel tickets go on sale on !{bookingDates.oriel} <br>
              else if bookingDates.normal
                small Tickets for Oriel members are now available <br>
              if bookingDates.normal 
                small Public tickets go on sale on !{bookingDates.normal}
              else
                small Tickets are now on sale!
          else
            a#ticketBtn.btn.btn-lg.btn-gold.disabled(href='#') Booking system
            h5: small Dates will be published shortly
          br
      #news.row.gradientBackground
        .col-xs-10.col-xs-offset-1
          .row
            .col-md-4.hidden-sm.hidden-xs(style='overflow:hidden').
              <iframe overflow=hidden src="//www.facebook.com/plugins/likebox.php?href=https%3A%2F%2Fwww.facebook.com%2Forielball&amp;height=395&amp;colorscheme=light&amp;show_faces=false&amp;header=false&amp;stream=true&amp;show_border=false" scrolling="no" frameborder="0" style="border:none; overflow:hidden; height:395px; background: #fff;width:100%;" allowTransparency="true"></iframe>
            .col-md-4.col-sm-6.col-xs-12.text-center
              h3.text-center Keep up to date
              table(style='margin-top:40px;width:224px;margin-left:-112px;left:50%;position:relative')
                tr
                  td
                    a#facebookBtn(href='https://facebook.com/orielball',target='_blank')
                      span.fa-stack.fa-4x
                        i.fa.fa-square.fa-stack-2x
                        i.fa.fa-facebook.fa-stack-1x.fa-inverse
                  td
                    a#twitterBtn(href='https://twitter.com/orielball',target='_blank')
                      span.fa-stack.fa-4x
                        i.fa.fa-square.fa-stack-2x
                        i.fa.fa-twitter.fa-stack-1x.fa-inverse
                tr
                  td(style='text-align:right;')
                    a#newsletterBtn(href="#newsletterModal",data-toggle='modal')
                      span.fa-stack.fa-4x
                        i.fa.fa-square.fa-stack-2x
                        i.fa.fa-envelope.fa-stack-1x.fa-inverse
                  td
                    a#pushBtn.disabled(href="#")
                      span.fa-stack.fa-4x
                        i.fa.fa-square.fa-stack-2x
                        i.fa.fa-certificate.fa-stack-1x.fa-inverse
                tr
                  td(colspan='2')
                    br
                    a#committeLink(href='#committeeModal',data-toggle="modal") Email the committee

            .col-md-4.col-sm-6.hidden-xs.
              <a class="twitter-timeline" href="https://twitter.com/orielball" data-widget-id="505300711664394240">Tweets by @orielball</a>
              <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
            
      #footer.row(style='padding:0; background: #333')
        .col-xs-10.col-xs-offset-1.text-center
          .row
            h5 
              small
                ///a#tacLink(href='#tacModal',data-toggle="modal") Terms &amp; Conditions
                ///| &nbsp; • &nbsp;
                ///a#jobLink(href='#jobModal',data-toggle="modal") Jobs
                ///br
                | &copy; 2014 Oriel College Commemoration Ball
                br
                | Photos by JDR Photography and Ollie Ford


    .modal.fade#committeeModal(tabindex="-1",role="dialog")
      .modal-dialog
        .modal-content.text-center
          .modal-header
            button.close(type="button",data-dismiss="modal")
              span(aria-hidden="true") &times;
              span.sr-only Close
            h3.modal-title(style='margin-left:18px;') Committee
          table.table.table-condensed.modal-body
            - for (var i = 0; i < 16; i = i + 2) {
              tr
                td(style='width:50%')
                  a(href='mailto:'+committee[i][2])
                    h4 !{committee[i][0]}
                      br
                      small !{committee[i][1]}
                td(style='width:50%')
                  a(href='mailto:'+committee[i+1][2])
                    h4 !{committee[i+1][0]}
                      br
                      small !{committee[i+1][1]}
            - }    

    .modal.fade#tacModal(tabindex="-1",role="dialog")
      .modal-dialog
        .modal-content.text-center
          .modal-header
            button.close(type="button",data-dismiss="modal")
              span(aria-hidden="true") &times;
              span.sr-only Close
            h3.modal-title(style='margin-left:18px;') Terms &amp; Conditions
          .modal-body
            include tac

    .modal.fade#jobModal(tabindex="-1",role="dialog")
      .modal-dialog
        .modal-content.text-center
          .modal-header
            button.close(type="button",data-dismiss="modal")
              span(aria-hidden="true") &times;
              span.sr-only Close
            h3.modal-title(style='margin-left:18px;') Jobs
          .modal-body

    .modal.fade#newsletterModal(tabindex="-1",role="dialog",style='position: fixed;top: 30%')
      .modal-dialog.modal-sm
        .modal-content
          .modal-body
            .form
              .form-group.has-feedback#emailFeedback
                label.sr-only Email
                input.form-control#emailInput(type=email,placeholder='Email address')
                span.glyphicon.glyphicon-remove.form-control-feedback.hidden
              #joinNewsletterBtn.btn.btn-primary.btn-block(data-loading-text="Loading...") Subscribe to newsletter
