doctype html
html
  head
    title Oriel College Commemoration Ball 2015
    link(rel='stylesheet', href='/stylesheets/bootstrap.min.css')
    link(rel='stylesheet', href='/stylesheets/bootstrap-theme.min.css')
    link(rel='stylesheet', href='/stylesheets/jquery.fullPage.css')
    script(type='text/javascript', src='https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js')
    script(type='text/javascript', src='https://ajax.googleapis.com/ajax/libs/jqueryui/1.9.1/jquery-ui.min.js') 
    script(type='text/javascript', src='/javascripts/jquery.fullPage.min.js')
    script(type='text/javascript', src='/javascripts/bootstrap.min.js')
    script.
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

        ga('create', 'UA-19759111-3', 'auto');
        ga('send', 'pageview');
        
    script(type='text/javascript').
      $(document).ready(function() {
        $('#fullpage').fullpage({navigation: true})
        $('#scrollBtn').click($.fn.fullpage.moveSectionDown)

        $('#email').keyup(validateEmail)
        $('#email').change(validateEmail)

        $('#emailBtn').click(subscribeEmail)
        $('#pushBtn').click(subscribePush)

        $('#about').click(function(){$('#modal').modal('show')})

        if ('safari' in window && 'pushNotification' in window.safari)
        {
          $('#pushBtn').removeClass('disabled')
          adjustButton()
        }
        else
          $('#tooltipWrapper').tooltip({title: "Push notifications require OS X 10.9 or higher"})
      })

      var emailType = "invalid"
      var permissionData
      validateEmail = function()
      {
        var email = $(this).val()
        if (/^[a-zA-Z0-9_.+-]+@oriel\.ox\.ac\.uk$/.test(email))
          emailType = "oriel"
        else if (/^[a-zA-Z0-9_.+-]+@[a-zA-Z0-9-.]+\.ox\.ac\.uk$/.test(email))
          emailType = "oxford"
        else if (/^[a-zA-Z0-9_.+-]+@[a-zA-Z0-9-]+\.[a-zA-Z0-9-.]+$/.test(email))
          emailType = "alumni"
        else
          emailType = "invalid" 

        $('#emailGroup').removeClass('has-success')
        $('#emailGroup').removeClass('has-error') 

        if(emailType != 'invalid')
          $('#emailGroup').addClass('has-success')
        else
          $('#emailGroup').addClass('has-error')
      }
      subscribeEmail = function()
      {
        if(emailType == "invalid")
          $('#email').focus()
        else if ($('input:radio:checked').attr('id') == "student" && emailType == "alumni")
        {
          $('#emailGroup').tooltip({title: "Please use your university email address",trigger:"manual"})
          $('#emailGroup').tooltip('show')
        }
        else
        {
          $('#emailGroup').tooltip('destroy')
          var btn = $(this)
          btn.button('loading')
          $.ajax({
              url: '/subscribe',
              data: { 
                email: $('#email').val(),
                type: emailType 
                    }
            })
            .done(function(){
              btn.html('&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Success!&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;')
              setTimeout(function(){
                btn.html('Subscribe to emails')
                btn.button('reset')
                $('#email').val('')
                $('#alert').addClass('hidden')
              },2000)
            })
            .fail(function(){alert("An error occured. Please try again");btn.button('reset')})
        }
      }
      subscribePush = function()
      {
        if (permissionData.permission === 'default')
        {
          window.safari.pushNotification.requestPermission(
            'https://orielball.uk',
            'web.uk.orielball',
            {},
            adjustButton)
        }
      }
      adjustButton = function()
      {
        permissionData = window.safari.pushNotification.permission('web.uk.orielball')
        if (permissionData.permission === 'granted')
        {
          $('#pushBtn').addClass('disabled')
          $('#pushBtn').html('Subscribed to push notifications')
        }
        else if (permissionData.permission === 'denied')
        {
          $('#pushBtn').addClass('disabled')
          $('#pushBtn').html('Disabled push notifications')
        }
        else
        {
          $('#pushBtn').removeClass('disabled')
          $('#pushBtn').html('Subscribe to push notifications')
        }
      }
    style.
      #main{
        background-image: url(images/quad.jpg);
        background-size: 100%;
        color: #fff;
        text-shadow: 0px 0px 5px #000;
      }
      #subscribe{
        background-image: url(images/tent.jpg);
        background-size: 100%;
      }
      #emailBtn{
        margin-left: 30px;
      }
      #bottomBar {
        height: 36px;
        color: #f2f2f2;
        position:fixed;
        z-index:70;
        bottom:0;
        width:100%;
        text-align:right;
        font-size:0.9em;
        padding:8px 0 8px 0;
      }
      #bottomBar ul {
       padding: 0 40px;
      }
      #bottomBar li {
        display: inline-block;
        position: relative;
      }
      #bottomBar a {
        display: block;
        margin: 0 22px 0 0; 
        color: #fff;
      }
      .modal-header {
        text-align: center;
      }
      .center {
        text-align: center;
      }
  body
    .modal.fade#modal(tabindex="-1",role="dialog")
      .modal-dialog
        .modal-content
          .modal-header
            button.close(type='button',data-dismiss='modal')
              span &times;
              span.sr-only Close
            h3.modal-title Commitee
          .modal-body
            br
            table.table.table-hover
              each person in committee
                tr
                  td!=person[0]
                  td!=person[1]
                  td
                    a(href='mailto:'+person[2])=person[2]
                tr
            br
            br
            h3.center Imprint
            p.center &copy; 2014 Oriel Ball Commitee. Photos by Oliver Ford
    #fullpage
      #main.section
        .container
          .row.text-center
            img(src='../images/shield.png', height='200')
            h2 Oriel College Commemoration Ball
            h4 26 June 2015
            br
            #scrollBtn.btn.btn-primary.btn-lg Subscribe to updates
      #subscribe.section
        .container
          .row
            .col-md-5
              .jumbotron
                .form(role='form')
                  .form-group.has-feedback#emailGroup
                    .input-group
                      .input-group-addon @
                      input.form-control#email(type=email,placeholder='University email address')
                  .btn-group(data-toggle="buttons")
                    label.btn.btn-default.active
                      input#student(type='radio', name='emailOptions',checked) 
                      x Student
                    label.btn.btn-default
                      input#alumnus(type='radio', name='emailOptions') 
                      x Alumnus
                  #emailBtn.btn.btn-primary(data-loading-text="Loading...",style="width: 43%; margin-left:36px;") Subscribe to emails
          .row
            .col-md-8
            .col-md-4
              .jumbotron
                #tooltipWrapper
                  #pushBtn.btn.btn-primary.disabled(data-loading-text="Loading...", style="width:100%") Subscribe to push notifications
    #bottomBar
      a#about(href="#") About