html
  head
    title= 'Oriel Ball Update #'+number+' – '+subject
    link(rel='stylesheet',href='https://gist.githubusercontent.com/tuzz/3331384/raw/94f2380c2b798fab2139fd0a8f478c4f2d642e3b/github.css')
    style.
      body {
        background-image: url('/images/tent.jpg');
        background-attachment: fixed;
        background-size: 100%;
      }
      #pageWrapper {
        width: 50%;
        background: #fff;
        margin: 0 auto;
        padding: 40px;
        text-align: center;
        box-shadow: 0px 0px 25px #888;
      }
      hr {
        display: block;
        height: 1px;
        border: 0;
        border-top: 1px solid #ccc;
        margin: 1em 0;
        padding: 0;
      }
      script.
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

        ga('create', 'UA-19759111-3', 'auto');
        ga('send', 'pageview');
  body
    #pageWrapper
      img(src='/images/shield.png',height='100px')
      h1= subject
      small= date
      hr
      br
      div(style='text-align:left')!= body